include ../layout/_mixins

doctype html
html(lang="ru")
	- var title = 'Main | Company name'
	include ../layout/_head
		
	body
	
		include ../layout/_header


		// Footer
		include ../layout/_footer

