.b-header
	.container 
		._wrapper 
			._main #ДЫМНЫЙ
				span(style='color: red;') ПЕРВЫЙ
			._text Сеть кальянных и вейп магазинов
			._list Мы работаем круглосуточно <br>Обработка с 10:00 до 22:00 без выходных
			form.header-search-form
				input.form-input-text( name='query', placeholder='Поиск ...')
				button(type='submit')
					img(src='img/Vector001.svg', alt='logo')
			._logo 
				a(href="#") 
			._logo2 
				a(href="#") 
			._phone 
				a(href="tel:+89005732985") 8 (900) 
					span(style='color: red;') 573-29-85

nav.b-menu
	ul.list
		li._item
			a._link.-grey-btn(href="#")
				span._icon-wrap
					img(src="img/Group15.svg", alt="#")
				span._link-name Каталог товаров
		li._item
			a._link(href="#") Как сделать заказ
		li._item
			a._link(href="#") О нас
		li._item
			a._link(href="#") Доставка и оплата
		li._item
			a._link(href="#") Адреса магазинов
		li._item
			a._link(href="#") Бонусная программа
		li._item
			a._link(href="#") Контакты
	.hamburger 
		span 
		span 
		span 

.b-banner 
	.container 
		._content
			._the-box
			._the-box1
			._the-box2
			._auto 
			._delivery #первыйдымный 
			._title Бесплатная доставка<br>при заказе от 2000 рублей
			button.arrow Заказать
				svg(width='17', height='10', viewbox='0 0 17 10', fill='currenColor', xmlns='http://www.w3.org/2000/svg')
					path(d='M16.4243 5.42427C16.6586 5.18995 16.6586 4.81005 16.4243 4.57574L12.6059 0.75736C12.3716 0.523046 11.9917 0.523046 11.7574 0.75736C11.523 0.991675 11.523 1.37157 11.7574 1.60589L15.1515 5L11.7574 8.39411C11.523 8.62843 11.523 9.00833 11.7574 9.24264C11.9917 9.47696 12.3716 9.47696 12.6059 9.24264L16.4243 5.42427ZM-5.24537e-08 5.6L16 5.6L16 4.4L5.24537e-08 4.4L-5.24537e-08 5.6Z')
			//-img(src="img/Arrow.svg", alt="arrow")
			//-._descr
			button._navigate
			button._transition
			button._icons
			button._desrc

.b-catalog 
	.container
		._title.title Каталог
		._menu 
			._columns 
				._photo
					img(src="img/image1.png", alt="peach")
				._tobacco-products Товары для табака
				._text Самый большой выбор<br> популярных табаков.
				button._read-more Подробнее
			._columns
				._photo 
					img(src="img/hotpng2.png", alt="peach")
				._tobacco-products Кальяны
				._text Самый большой выбор<br> популярных табаков.
				button._read-more Подробнее
			._columns
				._photo 
					img(src="img/hotpng3.png", alt="peach")
				._tobacco-products Угли для кальяна
				._text Самый большой выбор<br> популярных табаков.
				button._read-more Подробнее
			._columns
				._photo 
					img(src="img/image4.png", alt="peach")
				._tobacco-products Колбы для кальяна
				._text Самый большой выбор<br> популярных табаков.
				button._read-more Подробнее

.b-nev-catalog 
	.container 
		.title Новое поступление
		._row 
			._columns
					button.btn-discount Скидка
					._icon
						a(href="#") 
							img(src="img/Vector.svg", alt="vector")
					._photo
						img(src="img/wing1.png", alt="peach")
					._name Y.K.A.P.
					._text Кальян YKAP Killer K1
					._price 1 056 ₽
					._cost 
						del 1 256 ₽
					button.backet 
						img(src="img/bascet.png", alt="#")
			._columns 
					button.orange Новинка
					._icon 
						a(href="#") 
							img(src="img/Vector.svg", alt="vector")
					._photo
							img(src="img/wing1.png", alt="peach")
					._name Y.K.A.P.
					._text Кальян YKAP Killer K1
					._price 1 256 ₽
					button.backet 
						img(src="img/bascet.png", alt="#")
			._columns 
					button.btn-discount Скидка
					._logo 
						a(href="#") 
							img(src="img/Vector2.svg", alt="vector")
					._photo
							img(src="img/image7.png", alt="peach")
					._name.name--shop Darkside Shot
					._text Darkside Core 30гр
					._price 1 056 ₽
					._cost 
						del 1 256 ₽
					button.backet 
						img(src="img/bascet.png", alt="")
			._columns 
					._photo
						img(src="img/image7.png", alt="peach")
					._name.name--shop Darkside Shot
					._text Darkside Core 30гр
					._subtitle
					._price 1 256 ₽
					button.vector 
						img(src="img/Vector3.svg", alt="#")
.b-map
	.container
		.title Наши магазины в Калуге
		._google
			iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3Aa9bbeade46f97a65eea7a506bd71cdd3d94d8d501ac40eae0e484d68e609f9e3&source=constructor', width='1720', height='608', frameborder='0')
			._rectangle
				._item
						a(href="#") Калуга, ул. Театральная 5
				._link
						a(href="#") Каждый день с 12:00 до 00:00
				._phone 
						a(href="tel:+79105001250") +7 (910)
							span(style='color: red;') 500-12-50
			._vector
						a(href="https://goo.gl/maps/dCcqE9sjc7MvNdnX9")
							img(src="img/Vector0.svg", alt="address")

.b-footer 
		._vector
				._menu
					._item #ПЕРВЫЙДЫМНЫЙ
						._name
							a(href="#")  Сеть кальянных и вейп магазинов
						._link Принимаем к оплате
							a(href="#")
								img(src="img/Group11.svg", alt="logo") 
							a(href="#")
								img(src="img/Group12.svg", alt="logo") 
							a(href="#")
								img(src="img/mirlogo1.svg", alt="logo") 
					._line
				._menu 
					._label.label_catalog Каталог
						._vector.vector-tobacco
							ul 
								li 
									a(href="#") Табак для кальянов
								li 
									a(href="#") Кальяны
								li
									a(href="#")  Колбы
							._pulse.pulse-charcoal 
								ul 
									li
										a(href="#") Угли
									li 
										a(href="#") Чаши
									li 
										a(href="#") Комлектующие
						._line
				._menu
					._label.label_sections Популярные разделы
						._vector.vector-lg
							ul 
								li
									a(href="#") Как сделать заказ?
								li
									a(href="#") Darkside
								li 
									a(href="#") Табак для кальянов
						._land
				._menu 
					._label.label_online Мы в сети
						._nets 
							a(href="#") 
								img(src="img/instagram.svg", alt="instagram")
							a(href="#") 
								img(src="img/contact.svg", alt="logo")
						._star
				._menu 
					._label.label_contact Контакты
						._contact
						._icons
									img(src="img/phone-call.png", alt="phome")
						._phone 
									a(href="tel:+89005732985") 8 (900)  573-29-85
						._main
						._email 
								img(src="img/email.png", alt="")
						._icon 
								a(href="#") info @first-smoky.ru
						._vectori
							ul 
								li Заказы с сайта принимаются круглосуточно.
								br
								li Обработка заказов ежедневно с 10:00-22:00
						._site-map
							a(href="#") Карта сайта

.b-footer-info
	._info 
		._basement 
			._rule
				a(href="#") Политика конфиденциальности
		a(href="#") @ 2015-2020 Сеть магазинов кальянной продукции ‘Первый дым’
		a(href="#") Сайт разработан

