.b-header
		.container 
			._wrapper
				._main #ДЫМНЫЙ
					span(style='color: red;') ПЕРВЫЙ
					._text Сеть кальянных и вейп магазинов
				._block
					._list Мы работаем круглосуточно <br>Обработка с 10:00 до 22:00 без выходных
				form.header-search-form
					input.form-input-text( name='query', placeholder='Поиск ...')
					button(type='submit')
						img(src='img/Vector001.svg', alt='logo')
				._control
					a(href="#") 
						._backset 
					a(href="#") 
						._favorite 
				._phone 
						a(href="tel:+89005732985") 8 (900) 
							span(style='color: red;') 573-29-85

nav.b-menu
	ul._list
		li._item
			a._link.-grey-btn(href="#")
				span._icon-wrap
					img(src="img/Group15.svg", alt="#")
				span._link-name Каталог товаров
		li._item
			a._link(href="#") Как сделать заказ
		li._item
			a._link(href="#") О нас
		li._item
			a._link(href="#") Доставка и оплата
		li._item
			a._link(href="#") Адреса магазинов
		li._item
			a._link(href="#") Бонусная программа
		li._item
			a._link(href="#") Контакты


.b-preview 
	.container 
		.home Главная / Табак дял кальяна
		.title Табак для кальяна
		._card 
			._menu 
				ul._list
					li._item Бренд
					li._item 
						._icon 
							img(src="img/icons/Vector.svg", alt="")
					li._item 
					form.search-form
						input.form-input-text( name='query', placeholder='Бренд_1')
						button(type='submit')
							img(src='img/Vector001.svg', alt='logo')
					li._item.brand
						form
							input(type='checkbox', value='al', checked='')
							span Бренд_1
						form
							input(type='checkbox', value='al',)
							span Бренд_2
						form
							input(type='checkbox', value='al',)
							span Бренд_3
						form
							input(type='checkbox', value='al',)
							span Бренд_4
					li._item 
						._show 
							a(href="#") Показать еще 30
						._reset Сбросить
					li._item 
						._the-line
					li._item 
						._title Крепкость
					li._item 
						._icons
							img(src="img/icons/Vector1.svg", alt="")
					li._item
						._the-line2
					li._item
						button.apply Применить
					li._item
						._reset-filters Сбросить фильтры
			._catalog 
				._columns 
					._darkside
						img(src="img/icons/tabak-darkside .png", alt="")
					._logo 
						img(src="img/icons/tabak-darkside.svg", alt="")
					._name Darkside
					._items 70 товаров
				._columns 
					._darkside
						img(src="img/icons/tabak-darkside .png", alt="")
					._logo 
						img(src="img/icons/tabak-darkside.svg", alt="")
					._name Darkside
					._items 70 товаров
				._columns 
					._darkside
						img(src="img/icons/tabak-darkside .png", alt="")
					._logo 
						img(src="img/icons/tabak-darkside.svg", alt="")
					._name Darkside
					._items 70 товаров
				._columns 
					._darkside
						img(src="img/icons/tabak-darkside .png", alt="")
					._logo 
						img(src="img/icons/tabak-darkside.svg", alt="")
					._name Darkside
					._items 70 товаров
				._columns 
					._darkside
						img(src="img/icons/tabak-darkside .png", alt="")
					._logo 
						img(src="img/icons/tabak-darkside.svg", alt="")
					._name Darkside
					._items 70 товаров
				._columns 
					._darkside
						img(src="img/icons/tabak-darkside .png", alt="")
					._logo 
						img(src="img/icons/tabak-darkside.svg", alt="")
					._name Darkside
					._items 70 товаров
				._columns 
					._darkside
						img(src="img/icons/tabak-darkside .png", alt="logo")
					._logo 
						img(src="img/icons/tabak-darkside.svg", alt="logo")
					._name Darkside
					._items 70 товаров
				._columns 
					._darkside
						img(src="img/icons/tabak-darkside .png", alt="logo")
					._logo 
						img(src="img/icons/tabak-darkside.svg", alt="logo")
					._name Darkside
					._items 70 товаров
				._columns 
					._darkside
						img(src="img/icons/tabak-darkside .png", alt="logo")
					._logo 
						img(src="img/icons/tabak-darkside.svg", alt="logo")
					._name Darkside
					._items 70 товаров
				._columns 
					._darkside
						img(src="img/icons/tabak-darkside .png", alt="logo")
					._logo 
						img(src="img/icons/tabak-darkside.svg", alt="logo")
					._name Darkside
					._items 70 товаров
				._columns 
					._darkside
						img(src="img/icons/tabak-darkside .png", alt="logo")
					._logo 
						img(src="img/icons/tabak-darkside.svg", alt="logo")
					._name Darkside
					._items 70 товаров
				._columns 
					._darkside
						img(src="img/icons/tabak-darkside .png", alt="logo")
					._logo 
						img(src="img/icons/tabak-darkside.svg", alt="logo")
					._name Darkside
					._items 70 товаров
		._categories Вы просмотрели 12 категорий из 150
		._range


